{
  "extends": "stylelint-config-recommended",
  "rules": {
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "no-empty-source": null,
    "indentation": 2
  },
  "customSyntax": "postcss-scss"
}
